*, :after, :before {
    box-sizing: inherit;
}
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 10px;
    color: #333;
    background: #f4f4f4;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-size: 14px;
    line-height: 1.5em;
    min-width: 600px;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
    font-weight: 400;
    margin: 0 0 2.5rem;
    letter-spacing: -1px;
}
h1 {
    font-size: 2.75em;
    margin: 0 0 2.5rem;
}
h2 {
    font-size: 2.1em;
}

pre {
    background: #fbfbfb;
    padding:8px 16px;
    margin-left: 25px;
    margin-bottom:40px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}
pre code {
    background: transparent;
    padding: 0;
}
code {
    font-size: 13px;
    background: #eee;
    padding: 2px 5px;
}
p {
    margin: 0;
}
* + p {
    margin-top: 15px;
}
b {
    font-weight: 500;
}
a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    position: relative;
    max-width: 900px;
}
.wrapper {
    margin: 50px 15px;
    padding: 2.5rem 3.14159rem;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
}

.header {
    border-bottom: 1px solid #ddd;
    margin-top: -1rem;
    padding-bottom: 2rem;
}
.header .site-name {
    margin: 0;
    font-weight: 300;
    font-size: 3.1em;
    line-height: 1.2em;
    display: inline-block;
}
.header .site-name a {
    color: #444;
}
.header .tagline {
    color: #bbb;
    font-size: 12px;
    margin-left: 5px;
    font-style: italic;
    display: inline-block;
    line-height: 1.25em;
}
.main-nav {
    margin: 0;
    padding: 0;
    list-style: none;

    float: right;
    margin-top: 25px;
    font-size: 13px;
}
.main-nav li {
    display: inline-block;
}
.main-nav li + li {
    margin-left: 12px;
}
.main-nav li a {
    color: #1c69da;
}
.main-nav li a:hover {
    color: #961D55;
}

.content {
    padding-top: 2.5rem;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.main {
    width: 1px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
}
.sidebar {
    width: 230px;
    padding-left: 30px;
}

.module + .module {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #ccc;
}
.html-banner {
    padding: 15px 15px;
    box-shadow: inset 2px 1px 6px rgba(0,0,0,.3);
    background: #961d55;
    color: #fff;
    text-shadow: 0px 0px 1px #222;
    font-size: 13px;
    border-radius: 16px 0 16px 0;
}
.html-banner .title {
    font-size: 18px;
    margin: 5px 0;
    font-weight: normal;
    text-shadow: 0px 1px 1px #222;
    letter-spacing: -0.5px;
    margin-top: 0;
}
.html-banner p {
    margin: 0;
}
